* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Consolas';
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes the full viewport height */
}

.game > div {
    position: relative;
}

.game {
    /* display: flex; */
    /* flex-direction: column; */

    width: 60vw;
    height: 80vh;
}

.start-screen {
    background: #999da061;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    cursor: pointer;
}

.end-screen {
    background: #999da061;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    cursor: pointer;
    flex-flow: column;
}

.hidden {
    display:none;
}

.game-screen {
    background: transparent;
    height: inherit;
    width: inherit;
    background: #aaddfc;
}

.score {
    position: absolute; 
    top: 2vh;
    width: inherit;
    text-align: center;
    font-size: 25px;
}

.wizard {
    background: url('/images/wizard.png');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
}

.character {
    position: absolute;
}


.bug {
    position: absolute;
    background: url('/images/bug.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fireball {
    position: absolute;
    background: url('/images/fire-ball.png');
    background-size:cover;
    background-repeat: no-repeat;
}
