* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Consolas';
    overflow:hidden;
}

.game {
    width: 100vw;
    height: 100vh;
    background: #aaddfc;
} 

.start-screen {
    background: #999da061;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;
}

.end-screen {
    background: #999da061;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;
    flex-flow: column;
}

.hidden {
    display:none;
}

.game-screen {
    background: transparent;
    height: 100%;
    width: 100%;
}

.score {
    position: absolute;
    top: 2vh;
    width:100vw;
    text-align: center;
    font-size: 25px;
}

.wizard {
    background: url('/src/images/wizard.png');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
}

.bug {
    position: absolute;
    background: url('/src/images/bug.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fireball {
    position: absolute;
    background: url('/src/images/fire-ball.png');
    background-size:cover;
    background-repeat: no-repeat;
}
