* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Consolas';
}

.game {
    width: 100vw;
    height: 100vh;
    background: #aaddfc;
} 

.start-screen {
    background: #999da061;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;
}

.hidden {
    display:none;
}

.game-screen {
    background: transparent;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.wizard {
    background: url('/src/images/wizard.png');
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
}

.bug {
    position: absolute;
    background: url('/src/images/bug.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}
